# Data Types of Python

In [7]:
x= 10 #integer
y=10.5 #float
z= 10+5j #complex number

In [8]:
type(x)

int

In [9]:
type(y)

float

In [10]:
type (z)

complex

isinstance function

In [11]:
isinstance(x,int)

True

In [12]:
isinstance(y,int)

False

 Data Type Conversion

In [14]:
X= float(x) #int to float
X

10.0

In [15]:
Y= int(y) #float to int

In [16]:
Y

10

In [17]:
N= complex(x) #int to complex
N

(10+0j)

In [18]:
M= complex(y) #float to complex
M

(10.5+0j)

Boolean Data Type

In [19]:
x=True
y=False

In [20]:
x

True

In [21]:
y

False

Sequence Data Types:

1. List

In [22]:
L= [1,2,3,5,7,9]

In [23]:
L

[1, 2, 3, 5, 7, 9]

In [24]:
L[4]

7

In [25]:
L[-1]

9

In [27]:
Q= [1,6,3,5,7,9,[55,77,8,99]]
Q[-1][2]

8

2. Tupple

In [28]:
T= (1,6,3,5,7,9)

In [29]:
T

(1, 6, 3, 5, 7, 9)

In [30]:
T[4]

7

In [32]:
T[2:6]

(3, 5, 7, 9)

3. Range

In [33]:
x=range(10)

In [34]:
x

range(0, 10)

In [35]:
for i in x:
    print (i)

0
1
2
3
4
5
6
7
8
9

In [37]:
x= range(5,22)#Starts with 5 till 22
for i in x:
    print (i)

5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21

In [38]:
x= range(5,22,3) #Starts with 5 till 22 with 3 difference
for i in x:
    print (i)

5
8
11
14
17
20

In [39]:
x= range(220,22,-10) #Starts with 220 till 22 with -10 difference
for i in x:
    print (i)

220
210
200
190
180
170
160
150
140
130
120
110
100
90
80
70
60
50
40
30

4. Array

In [40]:
import array as ar

In [43]:
A= ar.array('i',[1,2,4,9,7])
A

array('i', [1, 2, 4, 9, 7])

In [44]:
A= ar.array('f',[1.7,2,4,9,7])
A

array('f', [1.7000000476837158, 2.0, 4.0, 9.0, 7.0])

 5. Set

In [45]:
S={1,2,4,9,7}
S

{1, 2, 4, 7, 9}

6. Data Frame

In [46]:
import pandas as pd

In [58]:
import os #imported OS library

In [59]:
os.chdir(r"/Users/mnjnayeem/Documents/PGD/Class 6") #Set the working directory

In [60]:
DF= pd.read_csv('Auto.csv') #Read the csv file

In [61]:
DF

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
392,27.0,4,140.0,86,2790,15.6,82,1,ford mustang gl
393,44.0,4,97.0,52,2130,24.6,82,2,vw pickup
394,32.0,4,135.0,84,2295,11.6,82,1,dodge rampage
395,28.0,4,120.0,79,2625,18.6,82,1,ford ranger
396,31.0,4,119.0,82,2720,19.4,82,1,chevy s-10

In [62]:
DF.shape #Checking the shape of data frame DF

(397, 9)

In [63]:
DF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 397 entries, 0 to 396
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           397 non-null    float64
 1   cylinders     397 non-null    int64
 2   displacement  397 non-null    float64
 3   horsepower    397 non-null    object
 4   weight        397 non-null    int64
 5   acceleration  397 non-null    float64
 6   year          397 non-null    int64
 7   origin        397 non-null    int64
 8   name          397 non-null    object
dtypes: float64(3), int64(4), object(2)
memory usage: 28.0+ KB

7. Binary Type:

In [64]:
byte_arr= bytearray ('ABCDEF','utf-8')

In [65]:
type (byte_arr)

bytearray

In [66]:
byte_arr

bytearray(b'ABCDEF')

In [67]:
memoryview(byte_arr)

In [68]:
memoryview(byte_arr)[2]

67

In [69]:
memoryview(byte_arr)[0]

65

In [70]:
MV= memoryview(byte_arr)
MV[0]=97

In [71]:
memoryview(byte_arr)[0]

97

In [72]:
byte_arr

bytearray(b'aBCDEF')